PUBLIC_SUPABASE_URL=https://hrhhhhuybfvjmzxzavuz.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HylnbfhKfsgJr0NbIkf7jg_X04Cws9o
PUBLIC_SUPABASE_API_KEY=sbp_7bfe53e1ddb5f10be1cc8be71d3ff2aace7f5eb2
PUBLIC_SUPABASE_SECRET_KEY=sb_secret_GH8RNqax7gvpwMcwT0u_MA_jo8Cs7lN
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyaGhoaHV5YmZ2am16eHphdnV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjcyNDIsImV4cCI6MjA4MTc0MzI0Mn0.t_rXSBbfC8XXrV8FEHuA0CQQ1BvRHeUOroXxiZuLmK0

# LLM API - Oobabooga text-generation-webui
OOBA_API_URL=https://semijudicially-isoelectronic-dewitt.ngrok-free.dev/v1/chat/completions
OOBA_API_KEY=

# Redis (optional)
#REDIS_URL=redis://172.23.220.44:6379
# TLS 사용 시(관리형 Redis가 흔히 요구)
# REDIS_URL="rediss://username:password@host:port/0"
REDIS_URL="redis://default:oXm9HTLmJMwOGC2xLNz9tzoqWIa3CNN8@redis-19970.c8.us-east-1-3.ec2.cloud.redislabs.com:19970"
REDIS_USERNAME=default
REDIS_PASSWORD=oXm9HTLmJMwOGC2xLNz9tzoqWIa3CNN8
REDIS_SOCKET_URL=redis-19970.c8.us-east-1-3.ec2.cloud.redislabs.com
REDIS_SOCKET_PORT=19970

# LLM API Keys
OPENAI_API_KEY=sk-xxx
GEMINI_API_KEY=xxx
ANTHROPIC_API_KEY=sk-ant-xxx

# Environment
NODE_ENV=development

SUPABASE_STORAGE_BUCKET=reluv-assets
SUPABASE_STORAGE_PUBLIC_URL=https://hrhhhhuybfvjmzxzavuz.supabase.co/storage/v1/object/public

# Connect to Supabase via Shared Connection Pooler
DATABASE_URL="postgresql://postgres.hrhhhhuybfvjmzxzavuz:2ovpcHIXSyVhtjtV@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database through Shared Pooler (supports IPv4/IPv6). Used for migrations.
DIRECT_URL="postgresql://postgres.hrhhhhuybfvjmzxzavuz:2ovpcHIXSyVhtjtV@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

# If your network supports IPv6 or you purchased IPv4 addon, use dedicated pooler
# DATABASE_URL="postgres://postgres:[YOUR-PASSWORD]@db.hrhhhhuybfvjmzxzavuz.supabase.co:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgres://postgres:[YOUR-PASSWORD]@db.hrhhhhuybfvjmzxzavuz.supabase.co:5432/postgres"
